In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from nltk import *

In [3]:
from datetime import datetime
import calendar

In [16]:
a=pd.read_csv('station_day.csv')
a

,StationId,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,AP001,2017-11-24,71.36,115.75,1.75,20.65,12.40,12.19,0.10,10.76,109.26,0.17,5.92,0.10,NaN,NaN
1,AP001,2017-11-25,81.40,124.50,1.44,20.50,12.08,10.72,0.12,15.24,127.09,0.20,6.50,0.06,184.0,Moderate
2,AP001,2017-11-26,78.32,129.06,1.26,26.00,14.85,10.28,0.14,26.96,117.44,0.22,7.95,0.08,197.0,Moderate
3,AP001,2017-11-27,88.76,135.32,6.60,30.85,21.77,12.91,0.11,33.59,111.81,0.29,7.63,0.12,198.0,Moderate
4,AP001,2017-11-28,64.18,104.09,2.56,28.07,17.01,11.42,0.09,19.00,138.18,0.17,5.02,0.07,188.0,Moderate
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108030,WB013,2020-06-27,8.65,16.46,NaN,NaN,NaN,NaN,0.69,4.36,30.59,1.32,7.26,NaN,50.0,Good
108031,WB013,2020-06-28,11.80,18.47,NaN,NaN,NaN,NaN,0.68,3.49,38.95,1.42,7.92,NaN,65.0,Satisfactory
108032,WB013,2020-06-29,18.60,32.26,13.65,200.87,214.20,11.40,0.78,5.12,38.17,3.52,8.64,NaN,63.0,Satisfactory
108033,WB013,2020-06-30,16.07,39.30,7.56,29.13,36.69,29.26,0.69,5.88,29.64,1.86,8.40,NaN,57.0,Satisfactory
108034,WB013,2020-07-01,10.50,36.50,7.78,22.50,30.25,27.23,0.58,2.80,13.10,1.31,7.39,NaN,59.0,Satisfactory

In [33]:
len(a['StationId'].unique())

91

In [17]:
a.isnull().sum()

StationId         0
Date              0
PM2.5         21625
PM10          42706
NO            17106
NO2           16547
NOx           15500
NH3           48105
CO            12998
SO2           25204
O3            25568
Benzene       31455
Toluene       38702
Xylene        85137
AQI           21010
AQI_Bucket    21010
dtype: int64

In [18]:
a.drop(['Xylene','Toluene','Benzene','NH3','PM10'],axis=1,inplace=True)

In [19]:
a.shape

(108035, 11)

In [20]:
a.isnull().sum()

StationId         0
Date              0
PM2.5         21625
NO            17106
NO2           16547
NOx           15500
CO            12998
SO2           25204
O3            25568
AQI           21010
AQI_Bucket    21010
dtype: int64

In [21]:
a.drop('PM2.5',axis=1,inplace=True)

In [22]:
a.dropna(inplace=True)

In [23]:
a.shape

(64268, 10)

In [24]:
a.reset_index(drop=True,inplace=True)

In [25]:
a['Year']=a['Date'][:]

In [26]:
a['Year'][28][0:4]

'2017'

In [27]:
a['Year']=a['Year'].apply(lambda x:x[0:4])

In [28]:
a['Month']=a['Date'].apply(lambda x:calendar.month_abbr[int(x[5:7])])

In [29]:
a

,StationId,Date,NO,NO2,NOx,CO,SO2,O3,AQI,AQI_Bucket,Year,Month
0,AP001,2017-11-25,1.44,20.50,12.08,0.12,15.24,127.09,184.0,Moderate,2017,Nov
1,AP001,2017-11-26,1.26,26.00,14.85,0.14,26.96,117.44,197.0,Moderate,2017,Nov
2,AP001,2017-11-27,6.60,30.85,21.77,0.11,33.59,111.81,198.0,Moderate,2017,Nov
3,AP001,2017-11-28,2.56,28.07,17.01,0.09,19.00,138.18,188.0,Moderate,2017,Nov
4,AP001,2017-11-29,5.23,23.20,16.59,0.16,10.55,109.74,173.0,Moderate,2017,Nov
...,...,...,...,...,...,...,...,...,...,...,...,...
64263,WB013,2020-06-25,3.23,11.42,14.65,0.57,11.39,31.76,56.0,Satisfactory,2020,Jun
64264,WB013,2020-06-26,23.51,16.50,40.02,0.66,10.34,30.19,50.0,Good,2020,Jun
64265,WB013,2020-06-29,13.65,200.87,214.20,0.78,5.12,38.17,63.0,Satisfactory,2020,Jun
64266,WB013,2020-06-30,7.56,29.13,36.69,0.69,5.88,29.64,57.0,Satisfactory,2020,Jun
64267,WB013,2020-07-01,7.78,22.50,30.25,0.58,2.80,13.10,59.0,Satisfactory,2020,Jul

In [30]:
g=a.groupby('Year')
y15=g.get_group('2015')
y16=g.get_group('2016')
y17=g.get_group('2017')
y18=g.get_group('2018')
y19=g.get_group('2019')
y20=g.get_group('2020')
y20

,StationId,Date,NO,NO2,NOx,CO,SO2,O3,AQI,AQI_Bucket,Year,Month
653,AP001,2020-01-01,1.67,12.12,7.81,0.77,17.53,57.26,96.0,Satisfactory,2020,Jan
654,AP001,2020-01-02,1.72,12.17,7.87,0.73,17.09,55.17,82.0,Satisfactory,2020,Jan
655,AP001,2020-01-03,1.81,13.53,8.67,0.69,22.14,43.70,76.0,Satisfactory,2020,Jan
656,AP001,2020-01-04,2.27,18.79,11.83,0.64,19.87,23.59,47.0,Good,2020,Jan
657,AP001,2020-01-05,1.73,12.98,8.31,0.63,14.68,36.53,55.0,Satisfactory,2020,Jan
...,...,...,...,...,...,...,...,...,...,...,...,...
64263,WB013,2020-06-25,3.23,11.42,14.65,0.57,11.39,31.76,56.0,Satisfactory,2020,Jun
64264,WB013,2020-06-26,23.51,16.50,40.02,0.66,10.34,30.19,50.0,Good,2020,Jun
64265,WB013,2020-06-29,13.65,200.87,214.20,0.78,5.12,38.17,63.0,Satisfactory,2020,Jun
64266,WB013,2020-06-30,7.56,29.13,36.69,0.69,5.88,29.64,57.0,Satisfactory,2020,Jun
64267,WB013,2020-07-01,7.78,22.50,30.25,0.58,2.80,13.10,59.0,Satisfactory,2020,Jul

In [32]:
len(a['StationId'].unique())

91