In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from nltk import *

In [2]:
from datetime import datetime
import calendar

In [4]:
a=pd.read_csv('stations.csv')
a

,StationId,StationName,City,State,Status
0,AP001,"Secretariat, Amaravati - APPCB",Amaravati,Andhra Pradesh,Active
1,AP002,"Anand Kala Kshetram, Rajamahendravaram - APPCB",Rajamahendravaram,Andhra Pradesh,NaN
2,AP003,"Tirumala, Tirupati - APPCB",Tirupati,Andhra Pradesh,NaN
3,AP004,"PWD Grounds, Vijayawada - APPCB",Vijayawada,Andhra Pradesh,NaN
4,AP005,"GVM Corporation, Visakhapatnam - APPCB",Visakhapatnam,Andhra Pradesh,Active
...,...,...,...,...,...
225,WB010,"Jadavpur, Kolkata - WBPCB",Kolkata,West Bengal,Active
226,WB011,"Rabindra Bharati University, Kolkata - WBPCB",Kolkata,West Bengal,Active
227,WB012,"Rabindra Sarobar, Kolkata - WBPCB",Kolkata,West Bengal,Active
228,WB013,"Victoria, Kolkata - WBPCB",Kolkata,West Bengal,Active
229,WB014,"Ward-32 Bapupara, Siliguri - WBPCB",Siliguri,West Bengal,NaN

In [5]:
a.isnull().sum()

StationId       0
StationName     0
City            0
State           0
Status         97
dtype: int64

In [6]:
a['StationId'].unique()

array(['AP001', 'AP002', 'AP003', 'AP004', 'AP005', 'AS001', 'BR001',
       'BR002', 'BR003', 'BR004', 'BR005', 'BR006', 'BR007', 'BR008',
       'BR009', 'BR010', 'CH001', 'DL001', 'DL002', 'DL003', 'DL004',
       'DL005', 'DL006', 'DL007', 'DL008', 'DL009', 'DL010', 'DL011',
       'DL012', 'DL013', 'DL014', 'DL015', 'DL016', 'DL017', 'DL018',
       'DL019', 'DL020', 'DL021', 'DL022', 'DL023', 'DL024', 'DL025',
       'DL026', 'DL027', 'DL028', 'DL029', 'DL030', 'DL031', 'DL032',
       'DL033', 'DL034', 'DL035', 'DL036', 'DL037', 'DL038', 'GJ001',
       'GJ002', 'GJ003', 'GJ004', 'GJ005', 'GJ006', 'HR001', 'HR002',
       'HR003', 'HR004', 'HR005', 'HR006', 'HR007', 'HR008', 'HR009',
       'HR010', 'HR011', 'HR012', 'HR013', 'HR014', 'HR015', 'HR016',
       'HR017', 'HR018', 'HR019', 'HR020', 'HR021', 'HR022', 'HR023',
       'HR024', 'HR025', 'HR026', 'HR027', 'HR028', 'HR029', 'JH001',
       'KA001', 'KA002', 'KA003', 'KA004', 'KA005', 'KA006', 'KA007',
       'KA008', 'KA009', 'KA010', 'KA011', 'KA012', 'KA013', 'KA014',
       'KA015', 'KA016', 'KA017', 'KA018', 'KA019', 'KA020', 'KL001',
       'KL002', 'KL003', 'KL004', 'KL005', 'KL006', 'KL007', 'KL008',
       'MP001', 'MP002', 'MP003', 'MP004', 'MP005', 'MP006', 'MP007',
       'MP008', 'MP009', 'MP010', 'MP011', 'MP012', 'MP013', 'MP014',
       'MP015', 'MP016', 'MH001', 'MH002', 'MH003', 'MH004', 'MH005',
       'MH006', 'MH007', 'MH008', 'MH009', 'MH010', 'MH011', 'MH012',
       'MH013', 'MH014', 'MH015', 'MH016', 'MH017', 'MH018', 'MH019',
       'MH020', 'MH021', 'MH022', 'ML001', 'MZ001', 'OD001', 'OD002',
       'PB001', 'PB002', 'PB003', 'PB004', 'PB005', 'PB006', 'PB007',
       'PB008', 'RJ001', 'RJ002', 'RJ003', 'RJ004', 'RJ005', 'RJ006',
       'RJ007', 'RJ008', 'RJ009', 'RJ010', 'TN001', 'TN002', 'TN003',
       'TN004', 'TN005', 'TG001', 'TG002', 'TG003', 'TG004', 'TG005',
       'TG006', 'UP001', 'UP002', 'UP003', 'UP004', 'UP005', 'UP006',
       'UP007', 'UP008', 'UP009', 'UP010', 'UP011', 'UP012', 'UP013',
       'UP014', 'UP015', 'UP016', 'UP017', 'UP018', 'UP019', 'UP020',
       'UP021', 'UP022', 'UP023', 'UP024', 'UP025', 'UP026', 'WB001',
       'WB002', 'WB003', 'WB004', 'WB005', 'WB006', 'WB007', 'WB008',
       'WB009', 'WB010', 'WB011', 'WB012', 'WB013', 'WB014'], dtype=object)